{% extends "base.html" %}
{% block wrapper %}
    <div class="container">
        <div class="page-header">
            <a class="underline" style="font-size: 30px" href="/business/">
                <span class="glyphicon glyphicon-hand-left">返回列表</span>
            </a>
        </div>
        <h2> {{ profile.username }}</h2>

        <div class="group">
            <span style="color:grey; font-weight:bold;"> <i
                    class="glyphicon glyphicon-calendar"> </i> 最後修改日期 {{ profile.last_modify }} </span>
            &nbsp;&nbsp;&nbsp;&nbsp;
            <span style="color:grey; font-weight:bold;"> <i
                    class="glyphicon glyphicon-map-marker"></i> 地點 {{ profile.location }} </span>
            &nbsp;&nbsp;&nbsp;&nbsp;
        </div>
        <hr>
        <div class="panel panel-info">
            <div class="panel-heading">{{ profile.skill_type }}</div>
            <div class="panel-body">
                {{ profile.skill_detail | safe }}
            </div>
        </div>
        <br>
        <div class="panel panel-warning">
            <div class="panel-heading">聯絡資訊</div>
            <div class="panel-body">
                {% if user.is_authenticated %}
                    {{ profile.contact_info }}
                {% else %}
                    登入後查看
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}