{% extends "base.html" %}
{% block wrapper %}
    <div class="container">
        <div class="page-header">
            <a class="underline" style="font-size: 30px" href="/business/">
                <span class="glyphicon glyphicon-hand-left">返回列表</span>
            </a>
        </div>
        <h2> {{ profile.username }}</h2>
        <div class="group">
            <span style="color:grey; font-weight:bold;"> <i class="glyphicon glyphicon-calendar"> </i> 最後修改日期 {{ profile.last_modify }} </span>
            &nbsp;&nbsp;&nbsp;&nbsp;
            <span style="color:grey; font-weight:bold;"> <i class="glyphicon glyphicon-map-marker"></i> 地點 {{ profile.location }} </span>
            &nbsp;&nbsp;&nbsp;&nbsp;
        </div>
        <hr>
        <div>
            {{ profile.skill_detail | safe}}
        </div>
        <br>
        <div class="well">
            <h4> 聯絡資訊 </h4>
            {{ profile.contact_info }}
        </div>
    </div>
{% endblock %}