{% extends "base.html" %}
{% block side_menu %}
    <ul class="nav nav-sidebar" id="menu">
        <li class="active"><a href="#">全部 <span class="sr-only">(current)</span></a></li>
        <li><a href="#">管理財經</a></li>
        <li><a href="#">行銷業務</a></li>
        <li><a href="#">製造工程</a></li>
        <li><a href="#">餐飲專業</a></li>
        <li><a href="#">醫療專業</a></li>
        <li><a href="#">資訊專業</a></li>
        <li><a href="#">電子/半導體</a></li>
        <li><a href="#">其他</a></li>
    </ul>
{% endblock %}
{% block content %}
    <h1 class="page-header">夥伴</h1>
{% endblock %}