{% extends "base.html" %}
{% block side_menu %}
    <ul class="nav nav-sidebar" id="menu">
        <li class="active"><a href="/business/">全部 <span class="sr-only">(current)</span></a></li>
        <li><a href="/business/view_category/?type=資訊科技">資訊科技</a></li>
        <li><a href="/business/view_category/?type=傳產製造">傳產製造</a></li>
        <li><a href="/business/view_category/?type=工商服務">工商服務</a></li>
        <li><a href="/business/view_category/?type=餐飲服務">餐飲服務</a></li>
        <li><a href="/business/view_category/?type=民生服務">民生服務</a></li>
        <li><a href="/business/view_category/?type=文教傳播">文教傳播</a></li>
        <li><a href="/business/view_category/?type=電子/半導體">電子/半導體</a></li>
        <li><a href="/business/view_category/?type=其他">其他</a></li>
    </ul>
{% endblock %}
{% block content %}
    <h1 class="page-header">事業</h1>
    <div class="row">
        <div class="col-sm-9 col-lg-8 col-lg-offset-1">
            <form accept-charset="UTF-8" action="/business/search/" method="get">
                <div style="display:none"><input name="utf8" type="hidden" value="✓"></div>
                <div class="input-group">
                    <input type="text" class="form-control" name="q" value="" placeholder="搜尋事業關鍵字...">
                    <span class="input-group-btn">
                      <button type="submit" class="btn btn-default">
                          <span class="glyphicon glyphicon-search" style="font-size: 20px"></span>
                      </button>
                    </span>
                </div>
            </form>
        </div>
        <div class="col-sm-3 col-lg-2">
            {% if user.is_authenticated %}
            <a class="btn btn-primary btn-block" data-remote="true" href="/business/add_business/">發表一個偉大的計畫</a>
            {% else %}
                <a class="btn btn-primary btn-block" data-remote="true" href="/signup/">註冊後可以發表你偉大的計畫</a>
            {% endif %}
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>標題</th>
                <th>產業</th>
                <th>地點</th>
                <th>發佈時間</th>
            </tr>
            </thead>
            <tbody>
            {% for biz in biz_list%}
            <tr>
                <td width="65%">
                    {% if biz.was_published_recently %}
                        <span class="label label-success">NEW</span>
                    {% endif %}
                    <a href="/business/biz_detail?id={{ biz.pk }}">{{ biz.title }}</a>
                </td>
                <td width="10%">{{ biz.industry }}</td>
                <td width="10%">{{ biz.location }}</td>
                <td width="15%">{{ biz.pub_date }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}