<html>
<head>
    {% include "head.html" %}
    {% block ext_js %}
    {% endblock %}
</head>
<body>

{# facebook #}
<div id="fb-root"></div>
<script>(function (d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s);
    js.id = id;
    js.src = "//connect.facebook.net/zh_TW/sdk.js#xfbml=1&version=v2.0";
    fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));
</script>
{# end facebook #}

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        {% include "navbar.html" %}
    </div>
</nav>

{% block wrapper %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3 col-md-2 sidebar">
                {% block side_menu %}
                {% endblock %}
            </div>
            <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </div>
{% endblock %}
</body>
</html>
{% block end_js %}
{% endblock %}