<!DOCTYPE html>
<html lang="en">
{% include "head.html" %}
<body>

<div class="container">
    <div class="row">
        <div class="span8">
            <div class="alert alert-success">
                Well done! You successfully read this important alert message.
            </div>
            <div class="alert alert-danger alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <strong>Warning!</strong> Better check yourself, you're not looking too good.
            </div>
        </div>
        <legend>Registration</legend>
        <div class="row">
            <div class="col-md-4 col-md-offset-3">
                <form>
                    <div class="form-group">
                        <label for="userName">Name</label>
                        <input type="email" class="form-control" id="userName" placeholder="Enter your name">
                    </div>
                    <div class="form-group">
                        <label for="email1">Email address</label>
                        <input type="email" class="form-control" id="email1" placeholder="Enter email">
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" class="form-control" id="password" placeholder="Password">
                    </div>
                    <div class="form-group">
                        <label for="passwordCheck">Ckeck Password</label>
                        <input type="password" class="form-control" id="passwordCheck" placeholder="Password">
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="input01"></label>
                        <div class="controls">
                            <button type="submit" class="btn btn-primary" rel="tooltip" title="first tooltip">Create My Account</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<footer>
    <div class="container">
        <p>&copy; Srinivas Tamada Production</p>
    </div>
</footer>

<script type="text/javascript">
    $(document).ready(function () {
        $('#registerHere input').hover(function () {
            $(this).popover('show')
        });
        $("#registerHere").validate({
            rules: {
                user_name: "required",
                user_email: {
                    required: true,
                    email: true
                },
                pwd: {
                    required: true,
                    minlength: 6
                },
                cpwd: {
                    required: true,
                    equalTo: "#pwd"
                },
                gender: "required"
            },
            messages: {
                user_name: "Enter your first and last name",
                user_email: {
                    required: "Enter your email address",
                    email: "Enter valid email address"
                },
                pwd: {
                    required: "Enter your password",
                    minlength: "Password must be minimum 6 characters"
                },
                cpwd: {
                    required: "Enter confirm password",
                    equalTo: "Password and Confirm Password must match"
                },
                gender: "Select Gender"
            },
            errorClass: "help-inline",
            errorElement: "span",
            highlight: function (element, errorClass, validClass) {
                $(element).parents('.control-group').addClass('error');
            },
            unhighlight: function (element, errorClass, validClass) {
                $(element).parents('.control-group').removeClass('error');
                $(element).parents('.control-group').addClass('success');
            }
        });
    });
</script>

</body>
</html>

